# Frontend
web-scraper-frontend/node_modules/
web-scraper-frontend/build/
web-scraper-frontend/.env
web-scraper-frontend/.env.local
web-scraper-frontend/.DS_Store
web-scraper-frontend/npm-debug.log*
web-scraper-frontend/yarn-debug.log*
web-scraper-frontend/yarn-error.log*

# Backend
web-scraper-backend/__pycache__/
web-scraper-backend/*.pyc
web-scraper-backend/.env
web-scraper-backend/.DS_Store
web-scraper-backend/.pytest_cache/
web-scraper-backend/*.log

# General
.DS_Store
.idea/
.vscode/ 